.AboutUs-background {
    margin: auto;
}

.ourbackground, .goals , .features {
    /* margin-top: 1cm;
    margin-bottom: 1cm; */
    margin: 10px 0px;
    text-align: center;
}

.kickin {
    color: #53c9c2 !important;
    font-weight: 800 !important;
    font-style: italic;
    text-align: center;
}

.par {
    color: white;
    letter-spacing: 1px;
}

.time, .information, .behaviour {
    text-align: center;
}

.howdoweuseit {
    text-align: center;
}

.li-features {
    color: white;
    list-style: none;
}

.steps, .li {
    color: white;
    /* font-size: x-large; */
    text-align: justify;
    padding-bottom: 0.2cm;
}




