.bookinglisttitle {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #F4F4F4;
}

.admintcontainer {
    background: #313131;
    border: 1px solid #FFCB74;
    box-sizing: border-box;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0 1em;
    min-height: 80vh;
}

.admintable {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.adminrows {
    background: #545454;
    border-radius: 5px;
    text-align: center; 
}

.adminth {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding-top: 12px !important;
}

.adminth div{
    padding-top: 6px;
}

.show {
    cursor: pointer;
}

.adminhead {
    text-align: center;
}

.paidaccepted {
    background-color: #5EB848 !important;
    color:#F4F4F4 !important;
    border-radius: 5px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.denied {
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    cursor: pointer;
}

.wait {
    background-color: #127BB6;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    padding: 10px;
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;
}

.cancelled {
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
}

.accept {
    background-color: #53C9C2;;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    cursor: pointer;
}

.delete {
    background-color: #ff0000;;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    text-align: center;
    cursor: pointer;
}

.payproof {
    color: white;
}
