.p {
  color: #e5e5e5;
}
.filter {
  position: absolute;
  height: 50px;
  width: 160px;
  border-radius: 5px;
  background-color: #313131 !important;
  border: none !important;
  /* left: 728px; */
}

.sort {
  position: absolute;
  height: 50px;
  width: 160px !important;
  border-radius: 5px;
  background-color: #313131 !important;
  border: none !important;
  /* left: 882px; */
}

#search {
  height: 50px;
}

.main-container {
  display: flex;
}

.class-col {
  align-items: stretch;
  justify-content: center;
  height: 100%;
  margin-bottom: 1cm;
}

.card {
  border: none;
}

.browseField {
  text-align: end;
}

.dropdown-item{
  color: #e5e5e5 !important;
}
.dropdown-item:hover{
  color: #222222 !important;
  background-color: #545454;
}