
.editavatar {
    margin: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    cursor: pointer;
    text-align: center;
    color: #53C9C2;
}

.form-name, .form-bio {
    background-color: #7B7B7B;
    color: white;
}

/* .form-avatar {
    margin: auto;
    text-align: center;
} */

#myfile {
    display: none;
}
.pick-picture{
    width: 100px;
    margin-left: 10%;
    margin-right: auto !important;
}
.fileContainer{
    background-color: #313131 !important;
}
.upload-btn{
    color: #f4f4f4 !important;
}
.upload-btn:hover{
    text-decoration: none !important;
    color: #53C9C2 !important;
}