.detail-top{
  margin-top: 9%;
  color: #e5e5e5;
}
.detail-text{
  padding: 10px !important;
}
.field-img{
  padding: 0 !important;
}
.field-img-big{
  z-index: 1;
  position: relative;
  width: 100%;
  border-radius: 20px;
  padding: 10px !important;
  transition: transform 0.5s, filter 0.75s;
}
.field-img-big::after {
  z-index: 1000;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    104.32deg,
    rgba(36, 36, 36, 0) 23.14%,
    #272727 63.42%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  /* margin-right: 40px; */
}
.field-img-big:hover{
  filter: drop-shadow(4px 5px 4px rgba(0, 0, 0, 0.4));
}
.desc-field{
  min-height: 390px;
}
.field-name{
  font-weight: 700;
  font-size: calc(10px + 3vmin);
}
.field-loc{
  font-size: calc(8px + 1vmin);
}
.description-title{
  font-weight: 700;
  font-size: calc(10px + 1vmin);
  color: #e5e5e5;
}
.description-p{
  font-size: calc(8px + 1vmin);
  color: #e5e5e5;
}
.fa-map-marker-alt{
  margin-right: 2%;
}
.action-book{
  bottom: 0 !important;
  align-self: flex-end;
  padding-top: 10px;
  margin-top: 10px;
}
.price-field{
  font-weight: 700;
  text-align: center;
  color: #e5e5e5;
}
.btn-direction{
  background-color: #545454 !important;
  color: #53c9c2 !important;
  font-weight: 700 !important;
  height: 50px !important;
  border: none !important;
}
.btn-direction:hover{
  background-color: #313131 !important;
  color: #e5e5e5 !important;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
  border: 2px solid #545454 !important;
}
.btn-book{
  color: #545454 !important;
  background-color: #53c9c2 !important;
  font-weight: 700 !important;
  height: 50px !important;
}
.btn-book:hover{
  color: #545454  !important;
  background-color: #35dbd0 !important;
  font-weight: 700 !important;
  height: 50px !important;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}
.img-sm{
  border-radius: 20px;
  padding: 10px !important;
  filter: grayscale(100%) blur(2px);
  transition: transform 0.5s, filter 0.75s;
  height: 130px;
}
.img-sm:hover{
  transform: scale(1.1);
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.507));
}
/* .review-user{
  padding: 10px !important;
} */
.comment{
  padding: 0px !important;
}
.review-title{
  font-weight: 700;
  color: #e5e5e5;
}
.review-p{
  font-size: calc(8px + 1vmin);
  color: #e5e5e5;
}
#modal-book{
  margin-top: 7% !important;
}
#modal-after-booking{
  margin-top: 6% !important;
}
.instruction ol li{
  margin: 0px !important;
  color: #f4f4f4;
}
.instruction{
  border: 1px solid #545454;
  border-radius: 5px;
  margin-bottom: 10px;
}


