.footer{
    background-color: #222222;
}

.icon-logo {
    color: #FE024E;
    font-size: 50px;
}

.content-row{
    margin-top: 10px;
    padding-top: 20px;
}

.brand h2{
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.brand:hover{
    text-decoration: none;
}

.desc-brand{
    color: white;
    margin-top: 15px;
    line-height: 30px;
    text-align: justify;
}

.features{
    margin-top: 10px;
    display: block;
    color: white;
    font-size: 17px;
    padding: 12px 30px 12px 0px;
}

.features.about {
    margin-left :14px;
}

.features.help {
    margin-left :20px;
}

.features:hover{
    text-decoration: none;
    color: #8C8989;
}

.sosmed h4{
    color: white;
}

.icon-store{
    /* color: #FE024E; */
    font-size: 30px;
    align-content: center;
}

.features-os{
    margin-right: 15px;
    color: white;
    font-size: 17px;
}

.features-os:hover{
    text-decoration: none;
    color: #8C8989;
}
/* .features.about {
    padding: 24px;
} */

.icon-sosmed{
    font-size: 30px;
    /* padding: 12px 30px 12px 0px; */
    width: 30px;
    margin-right: 10px;
    margin-top: 20px;
}

.footer hr{
    border: .5px solid #D4D4D4;
}

.sub-footer p{ 
    color: white;
}
