.main-container {
  display: flex;
}

.class-col {
  align-items: stretch;
  justify-content: center;
  height: 100%;
  border: none !important;
  border-radius: 10px!important;
}
.jumbotron {
  position: relative;
  margin-bottom: 20px !important;
}
.jumbotron .container {
  position: relative;
  z-index: 1;
  margin: 20px auto;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    104.32deg,
    rgba(36, 36, 36, 0) 23.14%,
    #272727 63.42%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  /* margin-right: 40px; */
}
.browseField {
  text-align: end;
}
.browseField:hover {
  text-align: end;
  color: #53c9c2;
}
.card-field {
  background-color: #313131 !important;
  border: 1px solid #FFCB74 !important;
  border-radius: 5px !important;
}
.card-field:hover {
  filter: drop-shadow(4px 4px 4px rgba(124, 119, 119, 0.3));
  transform: scale(1.05);
}
.card-img {
  position: relative;
  border-radius: 5px !important;
  height: 170px;
  z-index: 1;
}
.card-field img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    104.32deg,
    rgba(36, 36, 36, 0) 23.14%,
    #272727 63.42%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  /* margin-right: 40px; */
}
.card-text {
  /* margin-top: 10px; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.view{
  padding: 0 !important;
}
.book{
  padding: 0 !important;
}
.nav-tabs{
  border: none !important;
}