@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

@media (max-width: 767.98px) {
  * {
    font-size: calc(4px + 2vmin);
  }
  body{
    margin-top: 40% !important;
  }
}

@media (max-width: 991.98px) {
  * {
    font-size: calc(8px + 2vmin);
  }
  body{
    margin-top: 25% !important;
  }
}

body{
  margin-top: 6.5%;
  font-family: 'Montserrat', sans-serif;
  background-color: #222222;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

